.text-type {
  display: inline-block;
  white-space: pre-wrap;
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  opacity: 0.85;
  text-align: center;
  padding: 2rem;
  @media (min-width: 769px) {
    font-size: 4rem;
  }
}

.text-type___content {
  display: inline-block;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
