ul.menu-items {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  background-color: var(--color-primary);
  li {
    list-style-type: none;
    min-width: calc(15% - 20px);
    margin: 10px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s;
    line-height: 1.5;
    color: white;
    border-radius: 100px;
    &.active,
    &:hover {
      background-color: var(--color-primary-lighter);
    }
  }
}
